{% extends "layout.html" %}

{% block body %}
<div class="container">
	<div class="row">
		<h3 class="header-style">Here are all your booked reservations</h3>
		<table class="summary-table">
			<tr>
			{% if user.is_authenticated and user.is_admin() %}
			<th>Booker</th>
			{% endif %}
			<th>Booking date</th>
			<th>Duration in minutes</th>
			<th>List of the hedgehogs</th>
			</tr>
			{% for booking in reservations %}
			<tr>
			{% if user.is_authenticated and user.is_admin() %}
			<td>{{ booking.account_id }}</td>
			{% endif %}
			<td>{{ booking.start_time.strftime('%Y-%m-%d') }}</td>
			<td>{{ booking.duration_min }}</td>
			<td><a href="{{ url_for('reservation_hogs', reservation_id=booking.id) }}">See attending hedgehogs</a></td>
			<td>
				<form method="POST" action="{{ url_for('reservation_delete', reservation_id=booking.id) }}">
					<input type="submit" value="Delete this reservation"/>
				</form>
			</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}