{% extends "layout.html" %}

{% block body %}
<div class="container">
	<div class="row">
		<table>
			<tr>
			{% if user.is_authenticated and user.is_admin() %}
			<th>Booker</th>
			{% endif %}
			<th>Starting time</th>
			<th>Duration in minutes</th>
			<th>List of the hedgehogs</th>
			<th>Has booker verified the time?</th>
			</tr>
			{% for booking in reservations %}
			<tr>
			{% if user.is_authenticated and user.is_admin() %}
			<td>{{ booking.account_id }}</td>
			{% endif %}
			<td>{{ booking.start_time }}</td>
			<td>{{ booking.duration_min }}</td>
			<td><a href="{{ url_for('reservation_hogs', reservation_id=booking.id) }}">See attending hedgehogs</a></td>
			<td>{{ booking.verified }}</td>
			<td>
				<form method="POST" action="{{ url_for('reservation_verification', reservation_id=booking.id) }}">
					<input type="submit" value="Verify this reservation"/>
				</form>
			</td>
			<td>
				<form method="POST" action="{{ url_for('reservation_delete', reservation_id=booking.id) }}">
					<input type="submit" value="Delete this reservation"/>
				</form>
			</td>
			</tr>
			{% endfor %}
		</table>
	</div>
</div>
{% endblock %}