{% extends "layout.html" %}
  
{% block body %}
<div class="container">
    <div class="row">
      <form method="POST" action="{{ url_for('reservation_update') }}">
        <label for="datereserve">Select the date</label>
        {{ form.start(class='datepicker') }}
        <table>
            <tr>
              <td>
                {{ form.duration.label }}
              </td>
              <td>
                {{ form.duration }}
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="submit" value="Select the hedgehogs"/>
              </td>
            </tr>
        </table>
      </form>
    </div>
</div>
{% endblock %}
