{% extends "layout.html" %}
  
{% block body %}
<div class="container">
    <div class="row">
      <h3 class="header-style">Select your favourite hedgehog</h3>
      <form method="POST" action="{{ url_for('reservation_create', start=start, duration=duration) }}">
		<p>Pick below a hedgehog for your <span>{{ duration }}</span> minute reservation at <span>{{ start }}</span></p>
        <table>
          <tr>
              <td>
                {{ form.hog.label }}
              </td>
              <td>
                {{ form.hog }}
              </td>
              <td>
                <ul>
                  {% for error in form.hog.errors %}
                  <li>{{ error }}</li>
                  {% endfor %}
                </ul>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <input type="submit" value="Make a new reservation"/>
              </td>
            </tr>
        </table>
      </form>
    </div>
</div>
{% endblock %}
