{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
  <table>
    <tr>
      <th>Hedgehog</th>
      <th>Reservation minutes</th>
      <th>On duty</th>
    </tr>
    {% for hog in hogs %}
    <tr>
      <td>{{ hog.name }}</td>
      <td>{{ hog.minutes }}</td>
	    <td>{{ hog.onduty }}</td>
	    <td>
        <form method="POST" action="{{ url_for('hog_set_onduty', hog_id=hog.id) }}">
          <input type="submit" value="Put hedgehog to work!"/>
        </form>
      </td>
    </tr>
    {% endfor %}
  </table>
  </div>
</div>
{% endblock %}