{% extends "layout.html" %}

{% block body %}
<div class="container">
  <div class="row">
    <h3 class="header-style">Meet our hedgehogs</h3>
    <table class="summary-table">
      <tr>
        <th>Hedgehog</th>
        <th>Reservation minutes</th>
        <th>On duty</th>
      </tr>
      {% for hog in hogs %}
      <tr>
        <td>{{ hog.name }}</td>
        <td>{{ hog.minutes }}</td>
        <td>{{ hog.onduty }}</td>
        {% if user.is_authenticated and user.is_admin() %}
        <td>
          <form method="POST" action="{{ url_for('hog_set_onduty', hog_id=hog.id) }}">
            <input type="submit" value="Change hedgehog working status"/>
          </form>
        </td>
        <td>
            <form method="POST" action="{{ url_for('hog_delete', hog_id=hog.id) }}">
              <input type="submit" value="Delete this hedgehog"/>
            </form>
        </td>
        {% endif %}
      </tr>
      {% endfor %}
    </table>
  </div>
  {% if user.is_authenticated and user.is_admin() %}
  <div class="row">
    <button href="{{ url_for('hogs_form') }}">
        <a href="{{ url_for('hogs_form') }}">Add a hedgehog</a>
    </button>
  </div>
  {% endif %}
</div>
{% endblock %}